@charset "utf-8";


html {
  scroll-behavior: smooth;
} 



/*-----------ヘッダー--------------------------*/

#global-nav {
/* 
	border-bottom: 1px solid #16244e;
	border-top: 1px solid #16244e; */
	width: 100%;
}

#global-nav.m_fixed {
	left: 0;
	position: fixed;
	top: 0;
}

#global-nav .inner {
	padding-bottom: 0;
	padding-top: 0;
	margin: 0 auto;
  max-width: 100%;
  /* padding: 80px 0; */
  width: 100%;
  top: 10px;
}

.global-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  position: absolute;
  width: 100%;

}

.global-item {
	border-left: 1px solid #fff;
	width: 20%;
}

.global-item:last-child {
	border-right: 1px solid #fff;
	margin-right: 0;
}

.global-item a {
	background: #16244e;
	color: #fff;
	display: block;

	text-align: center;
	text-decoration: none;
}

#global-nav {
	position: absolute;
	top: 70px;
	transition: all 0.3s ease 0s;
  z-index: 1;
}

#global-nav.m_fixed {
	position: fixed;
	top: 0;
}



nav {
  width: 100%;
  text-align: center;
  & a {
    margin: 10px;
    color: #000000;
    font-size: 100%;
    text-align: center;
    z-index: 1;
  }
}


#footer{
  position: relative;
  z-index: 2;
}

/*-------------------------------------*/



body {
  overflow-x: scroll;
  background-color:  #f1ede5;
  background-size: auto;
}

* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}





/*-----------タイトル-----------------------*/
.title1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: absolute;

  top: 0px;
}


.rectangle-1 {
  background: var(--kon, #201f56);
  width: 100%;
  height: 70px;
}
.portfolio {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
}

/*------------------------------------*/



/*------profile------------------------------*/



.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 250px;
  position: absolute;
  top: 300px;
  min-width:100px
}
.frame-63 {
  padding: 10px;
  flex-shrink: 0;
  width: 350px;
  height: 100%;
  display: flex;
}
.frame-60 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.img-my {
  border-radius: 10px;
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
  display: block;
}
.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.frame-62 {
  display: flex;
  align-items: center;
}
.frame-35 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: baseline;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: #000000;
  text-align: left;
  font-family: 'Poller One', serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.kaneko-anon {
  color: var(--kon, #201f56);
  text-align: left;
  font-family: 'Poller One', serif;
  font-size: 58px;
  font-weight: 600;
  position: relative;
}
._2004-6-22-19-2-3-it-uiux {
  flex-shrink: 0;
}
._2004-6-22-19-2-3-it-uiux2 {
  color: #000000;
  text-align: center;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 18px;
  width: 660px;
  & a {
    color: skyblue;
    font-size: 100%;
    text-align: center;
  
  }
}
/*----------------------------------------------------*/


/*--------------お問い合わせ----------------------------*/

.skill2 {
  color: #000000;
  text-align: left;
  font-family: 'Poller One', serif;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
.artworks {
  color: #000000;
  text-align: left;
  font-family: 'Poller One', serif;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: 'Poller One', serif;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}

.contact {
  width: 100%;
  position: relative;
  max-width: 100%;
  top: 5000px;
}
.rectangle-3 {
  background: var(--kon, #201f56);
  width: 100%;
  height: 120px;
  position: absolute;
}
.div {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
}
.div2 {
  color: var(--rectangle, #f1ede5);
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
}

.otoi {
  color: #f1ede5;
  position: absolute;
  top: 70px;
  font-size: 20px;
  & a {
    color: #f1ede5;
    font-size: 100%;
    text-align: center;
  }
}


a:hover {
  color: skyblue;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
}

.line-4 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 200px;
  height: 0px;
  position: absolute;
  top: 96px;
  transform-origin: 0 0;
  transform: rotate(0.292deg) scale(1, 1);
}

/*----------------------------------------------*/


/*--------------インスタ--------------------*/
.frame-37 {
  display: flex;
  flex-direction: row;
  gap: 150px;
  max-width: 100%;
  position: absolute;
  top: 30px;
  display: flex;
  left: calc(50% - 300px);
}
.instagram {
  flex-shrink: 0;
  width: 200px;
  max-width: 100%;
  height: 34px;
  display: flex;
  align-items: flex-start;
}
.instagram2 {
  color: var(--rectangle, skyblue);
  text-align: center;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 0px;
  display: flex;
}
.instagram3 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 110px;
}
.rectangle-4 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--rectangle,  skyblue);
  border-width: 3px;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-1 {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--rectangle, #f1ede5);
  border-width: 3px;
  position: absolute;
  right: -23.4%;
  left: 74.47%;
  width: 48.94%;
  bottom: 25.53%;
  top: 25.53%;
  height: 48.94%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.ellipse-2 {
  background: var(--rectangle, #f1ede5);
  border-radius: 50%;
  position: absolute;
  right: 8.51%;
  left: 82.98%;
  width: 8.51%;
  bottom: 74.47%;
  top: 17.02%;
  height: 8.51%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}


._2-oo-4-06-zz a{
  color: var(--rectangle,  skyblue);
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 350px;
  top: -2px;
}

._2-oo-4-06-zz a:hover {
  color: skyblue;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
}

/*-------------------------------------------------*/

.coding {
  color: #000000;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 125px;
  transform: rotate(0.292deg) scale(1, 1);
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 70px;
  transform: rotate(0.292deg) scale(1, 1);
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 65px;
  transform: rotate(0.292deg) scale(1, 1);
}
.line-8 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 90px;
  transform: rotate(0.292deg) scale(1, 1);
}
.line-9 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 100px;
  transform: rotate(0.292deg) scale(1, 1);
}
.line-10 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 25px;
  transform-origin: 0 0;
  left: 110px;
  transform: rotate(0.292deg) scale(1, 1);
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  position: absolute;
  left: 80px;
  top: 1850px;
}
.software {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 80px;
  top: 1500px;
}

.cert {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 80px;
  top: 1150px;
}
.photo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 3350px;
}
.design {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 3980px;
}
.fashion {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 2750px;
}
/*----------------------------------------------------*/



/*------------検定　Azure--------------------------*/
.p {
  color: #000000;
}

.div4 {
  color: #000000;
  font-family: "NotoSansJp-DemiLight", sans-serif;
  font-size: 22px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    color: skyblue;
    font-size: 100%;
    text-align: center;
  }
}
a:hover {
  color: skyblue;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
}

.div5 {
  color: #000000;
  font-family: "NotoSansJp-DemiLight", sans-serif;
  font-size: 22px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  top: 1050px;
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    color: skyblue;
    font-size: 100%;
    text-align: center;
  }
}

a:hover {
  color: skyblue;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
}

.aikon6 {
  display: block;
  margin: 0px;
  width: 100%;
  height: 130px;
  position: absolute;
  top: 1350px;
  max-width: 100%;
  overflow: hidden;
}

.aikon-6 {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  max-width: 100%;
}
.ai-1 {
  font-size: 18px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.since2 {
  color: #000000;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
.img-figma {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.ai-2 {
  font-size: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-ai {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.ai-3 {
  font-size: 18px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-ps {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.ai-4 {
  font-size: 18px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-power-point {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.ai-5 {
  font-size: 18px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-excel {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.ai-6 {
  font-size: 18px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-vsc {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}
.aikon-3 {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 1700px;
}

.ai-7 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.img-misinn {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}

.ai-8 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.img-style {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}

.ai-9 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.img-camera {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  gap: 10px;
  position: relative;
  object-fit: cover;
}

.microsoft-azure-ai {
  color: #000000;
  text-align: center;
  font-family: "-", sans-serif;
  top: 3900px;
  font-size: 72px;
  font-weight: 800;
  text-decoration: underline;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}
.microsoft-azure-ai-span {
  color: #000000;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 62px;
  line-height: normal;
  font-weight: 100;
  text-decoration: underline;
}
.microsoft-azure-ai-span2 {
  color: #000000;
  font-family: "NotoSansJp-DemiLight", sans-serif;
  font-size: 36px;
  line-height: 160%;
  font-weight: 400;
  text-decoration: underline;
}
/*-----------------------------------------------*/


/*  profile AboutMe-------------------------------*/


.about-me1 {
  color: black;
  font-family: 'Poller One', serif;
  display: flex;
  justify-content: center;
  top: 170px;
  position: absolute;
  width: 100%;
  font-size: 52px;
}

.about-me2 {
  color: #000000;
  font-family: 'Poller One', serif;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  font-size: 52px;
}

/*-----------------------------------------*/

/*---------skillタイトル------------------*/
.skill {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 870px;
  color: #000000;
  font-size: 52px;
  font-family: 'Poller One', serif;
  font-weight: 400;
}

.s-kill-span {
  color: #000000;
  font-size: 52px;
  font-family: 'Poller One', serif;
  font-weight: 400;
}



/*----------------------------------*/



/*----------------aboutworksタイトル------------------*/
.art {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 2100px;
}

.art-works-span {
  color: #000000;
  font-family: 'Poller One', serif;
  font-size: 52px;
  font-weight: 400;
}



/*---------fashion写真--------------------*/


.fashion2 {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 2300px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: scroll;
}

.fashion2::-webkit-scrollbar {
  display: none;
}


.fashion-2 {
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 400px;
  position: relative;
}
.frame-80 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;

  position: relative;
}
.img-fashion-1 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;

  position: relative;
  object-fit: cover;
}
.since {
  color: #000000;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
}
.frame-81 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-2 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-82 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;

  position: relative;
}
.img-fashion-3 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-83 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;


  position: relative;
}
.img-fashion-4 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-84 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;

  position: relative;
}
.img-fashion-5 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-85 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-6 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-86 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;

  position: relative;
}
.img-fashion-7 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-87 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-8 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-88 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-9 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-89 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-10 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-90 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-11 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-109 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-12 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-106 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-13 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-105 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-14 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-74 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-15 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-91 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-16 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-75 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-17 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-76 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-18 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-58 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-19 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-68 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-20 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-67 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-21 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-66 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-fashion-22 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
/*------------------------------------------*/

/*------------------photo写真-----------------*/
.photo2 {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 2900px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: scroll;
}

.photo2::-webkit-scrollbar {
  display: none;
}


.photo-2 {
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 420px;
  position: relative;
}

.frame-10 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 400px;
  position: relative;
}
.frame-70 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-101 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-2 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-94 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-3 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-99 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-4 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-95 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-5 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-98 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-6 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-103 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-7 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-93 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-8 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-96 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-9 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-100 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-10 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-73 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-11 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-71 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-12 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-97 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-13 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-72 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-14 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-104 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-15 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-102 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.img-photo-16 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
/*-------------------------------------*/

/*--------------design写真---------------*/
.design2 {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 3500px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: scroll;
}

.design2::-webkit-scrollbar {
  display: none;
}


.design-2 {
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 500px;
  position: relative;
}

.frame-200 {
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 480px;
  position: relative;
}

.frame-111 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-113 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-1 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-112 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-2 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-116 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-3 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-114 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-4 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-115 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-5 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-79 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-6 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-78 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-7 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-77 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-8 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-108 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-9 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
.frame-107 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-10 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}

.frame-117 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 270px;
  position: relative;
}
.img-design-1 {
  border-radius: 10px;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  object-fit: cover;
}
/*--------------------------------------*/



